/* Preloader */
#preloader {
    background: url(../img/preloader3.gif) no-repeat center center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

@media only screen and (max-width: 500px) {
    #preloader {
        background-size: 300px;
    }
}

@media only screen and (max-width: 400px) {
    #preloader {
        background-size: 200px;
    }
}